<h2>TAREFA 3</h2>

<p>
  Criar um servidor que processa formulários GET e POST. <br>
  Inclua processamento de cookies. <br>
  Inclua armazenamento de dados no servidor. Utilize o módulo de arquivos do Node.
</p>



<form action="http://127.0.0.1:3000/myaction" method="post">
  First Name: <input type="text" id="first_name" name="first_name"> <br>
  Last Name: <input type="text" id="last_name" name="last_name">
  <input type="submit" value="Submit">
</form>

<div id="show-db">
  
</div>



<script>
  // run this function when the document is loaded
  window.onload = function() {
    // create a couple of elements in an otherwise empty HTML page
    var heading = document.createElement("h3");
    var heading_text = document.createTextNode("Elemento criado ao carregar a página");
    heading.appendChild(heading_text);
    document.body.appendChild(heading); 

    var file = "db.txt";
    readTextFile(file);

  }

  function readTextFile(file)
{
    var rawFile = new XMLHttpRequest();
    rawFile.open("GET", file, false);
    rawFile.onreadystatechange = function ()
    {
        if(rawFile.readyState === 4)
        {
            if(rawFile.status === 200 || rawFile.status == 0)
            {
                var allText = rawFile.responseText;
                // var str = JSON.stringify(allText, null, 2);
                // var str = JSON.parse(allText);
                // alert(str);

                var suga = JSON.parse(allText, function(k, v) {
                  console.log(k); // exibe o log do nome da propriedade atual, a ultima propriedade é "".
                  $('#show-db').append(v);                  
                  return v;       // retorna os valores sem nenhuma alteração.
                });

                $('#show-db').append(suga);
            }
        }
    }
    rawFile.send(null);
}
</script>


